.root {

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;

    padding: 1rem;

}

.inner {
    padding: 1rem;
    background-color: rgb(235, 235, 235);
    border: 3 px solid rgb(215, 215, 215);
    border-radius: .5rem;


    h2 {
        margin: 0;
    }

}
