.root {
    margin: 2rem 0;
    padding: 1rem;
    background-color: rgb(235, 235, 235);
    border: 1px solid rgb(215, 215, 215);
    border-radius: 0.5rem;

    input {
        width: 100%;
    }

    button {
        margin-top: 1rem;
    }

}
