$red: rgba(255, 0, 0, 1);

body {
    background-color: rgb(0, 0, 0);
}

h1 {
    color: $red
}

.todo {

    color: rgba(0, 255, 0, 1);

    &.done {
        color: rgba(255, 0, 0, 1);
        text-decoration: line-through;
    }
}


