$red: rgba(255, 0, 0, 1);

body {
    background-color: rgb(0, 0, 0);
    color: rgb(200, 200, 200);
    font-size: 40px;
    padding: 2rem;
    font-family: "Comic Sans MS";
}

input, button {
    font-size: 40px;
    margin: 1rem;
    font-family: "Comic Sans MS";
}

input {
    width: calc(100% - 3rem);
}


.todo {

    cursor: pointer;

    &.done {
        color: rgba(255, 0, 0, 1);
        text-decoration: line-through;
    }
}

h1 {
    margin-top: 0;
    padding: 0;
}



